@import "../../common/index";
header{
    background: $main-color;
    padding-top: 29px;
    .container{
        background: #313030;
        background-size: cover;
        nav{
            margin: 0 auto;
    
            ul{
                @extend %flex-box;
                margin: 0;
                padding: 0;
                li{
                    padding: 45px 24px;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color:white;
                        margin: 25px;
                        text-transform: uppercase;
                        @include font(14px, bold);
            
                    }
                }
                li:hover{
                    background: red;
                }
                 
            }
                
        }
    }
}
